html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
}

.labels {
     background-color: white;     
     font-size: 10px;
     text-align: center;
     width: 100px;
     border: 1px solid black;
     white-space: nowrap;
}

.filters {
     margin-bottom: 20px;
}

th {background-color: #006a72}

.rowSelected {
     background-color: black;
     border-color: red;
     color: white;
}